OPENAI_BASE_URL="http://localhost:11434/v1"
OPENAI_API_KEY="ollama"
CASSI_MODEL_NAME="qwen2.5-coder:latest"

# Azure OpenAI endpoints example
# CASSI_MODEL_NAME="gpt-4o-mini" #Or the model selected for your deployment
# OPENAI_API_KEY="<you api key>"
# OPENAI_BASE_URL="https://<instance name>.openai.azure.com/openai/deployments/<deployment name>"
# OPENAI_BASE_URL_SUFFIX="?api-version=2024-08-01-preview" #The API version for your deployment