
.section-title {
	color: var(--fourth-accent);
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	font-size: 1rem;
}

hr {
	border-color: var(--third-accent);
	width: 100%;
}

button {
	cursor: pointer;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgba(17, 17, 17, 0.75);
	border: 0;
	color: var(--third-accent);
	font-size: 1rem;
	font-family: var(--main-font-family);
	border: 1px var(--third-accent) solid;
}

button:hover,
button:focus-visible {
	outline: none;
}

select,
input {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgba(17, 17, 17, 0.75);

	border-width: 1px;
	border-color: var(--third-accent);
	color: var(--third-accent);
	font-size: 1rem;
	font-family: var(--main-font-family);
	accent-color: var(--third-accent);
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
	outline-width: 0;
	border-color: var(--fourth-accent);
	accent-color: var(--fourth-accent);
}

option {
	background-color: var(--dark);
}

select[multiple] {
	padding: 0;
	height: 100%;
}

select[multiple]>option {
	accent-color: var(--fourth-accent);
	background-color: transparent;
	padding: var(--small-gap);
}

select[multiple]>option:checked {
	border-collapse: collapse;
	background-color: var(--secondary-accent) !important;
	color: var(--fourth-accent) !important;
}

.aug-input {
	width: 100%;

	--aug-clip-tl1: initial;
	--aug-clip-tr1: initial;
	--aug-clip-bl1: initial;
	--aug-clip-br1: initial;
	--aug-border: initial;
	--aug-border-all: 0.25vh;
	--aug-tl1: 1vh;
	--aug-tr1: 1vh;
	--aug-br1: 1vh;
	--aug-bl1: 1vh;
	--aug-border-bg: var(--fourth-accent);

	--aug-inlay: initial;
	--aug-inlay-bg: var(--menu-inlay-bg-color);
}

.aug-button {
	font-size: clamp(0.7rem, 1rem, 1.2rem);
	padding: 0.75rem;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0.75;
	text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
	transition:
		color var(--easing),
		background-color 300ms,
		opacity var(--quick-in);
	text-transform: uppercase;

	border: none;

	--aug-clip-tl1: initial;
	--aug-clip-tr1: initial;
	--aug-clip-bl1: initial;
	--aug-clip-br1: initial;
	--aug-border: initial;
	--aug-border-all: 1px;
	--aug-tl1: 0.5rem;
	--aug-tr1: 1rem;
	--aug-br1: 0.5rem;
	--aug-bl1: 0.5rem;
	--aug-border-bg: radial-gradient(circle at top left, var(--pink) 40px, transparent 50px),
		radial-gradient(circle at top right, var(--blue) 20px, transparent 30px),
		radial-gradient(circle at bottom right, var(--pink) 40px, transparent 50px),
		radial-gradient(circle at bottom left, var(--blue) 20px, transparent 30px);

	--aug-inlay: initial;
	--aug-inlay-bg: #ffffff1e;
	background-color: transparent;
}

