.cassi-container {
    display: grid;
    grid-template-columns: 20ch auto;
    gap: 1rem;
    margin-bottom: 2rem;
}

.cassi-container .example-container,
.cassi-container pre:has(code) {
    border: 1px solid #ccc;
    padding: 1rem;
    max-width: 90%;
    margin: auto
}